 
  .viewCulture{
    max-height: 13rem !important;
  }
.culturebg{
  background-image: url("https://external-content.duckduckgo.com/iu/?u=http%3A%2F%2Fwww.mjmbuilders.com%2Fimages%2Fbackgrounds%2Fservices-background-tall.jpg&f=1&nofb=1") !important;;
}
  