#classicformpage .view {
    background-image: url('http://mdbootstrap.com/img/Photos/Others/images/91.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    min-height: 100vh;
  }
  
  #classicformpage .gradient {
    background: -webkit-linear-gradient(
      45deg,
      rgba(0, 0, 0, 0.7),
      rgba(72, 15, 144, 0.4) 100%
    );
    background: -webkit-gradient(
      linear,
      45deg,
      from(rgba(0, 0, 0, 0.7), rgba(72, 15, 144, 0.4) 100%)
    );
    background: linear-gradient(
      45deg,
      rgba(0, 0, 0, 0.7),
      rgba(72, 15, 144, 0.4) 100%
    );
  }
  
  #classicformpage .card {
    background-color: rgba(126, 123, 215, 0.2);
  }
  
  #classicformpage h6 {
    line-height: 1.7;
  }
  
  #classicformpage .navbar {
    transition: background 0.5s ease-in-out, padding 0.5s ease-in-out;
    /* box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12); */
     box-shadow: 0 0 0 0 !important;
  }
  
  
  #classicformpage .top-nav-collapse {
    background: #1f0000 !important;
  }
  
  @media (max-width: 768px) {
    #classicformpage .navbar:not(.top-nav-collapse) {
      background: #1f0000 !important;
    }
  }
  
  #classicformpage label {
    color: #fff !important;
  }

  .carousel .carousel-control-prev-icon, .carousel .carousel-control-next-icon {
    width: 104px;
    height: 103px;
}
