.flyout {
	display:flex;
	flex-direction: column;
	min-height:100vh;
	justify-content: space-between;
}


* {
	box-sizing: border-box;
  }
  
  #page-wrap {
	padding-bottom: 10px;
	padding-top: 10px;
  }
  
  body{ 
	/* background: #F3F3F3 !important; */
	/* /* background: #c9907c !important; */

	background: rgba(201, 144, 124, 0.09) !important;
}